html {
  scroll-behavior: smooth;
}

::selection {
  background-color: white;
  color: black;
}
body {
  padding: 0;
  margin: 0;
}

#app {
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(226, 226, 226);
  padding-inline: 2.5vw;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

main {
  width: 100vw;
  max-width: 1920px;
  height: 80vh;
  border-radius: 18px;
  padding: 45px;
  padding-right: 0;
  transition: transform 0.33s cubic-bezier(.2,1.07,.78,.76);
  transition: background-color 0.4s;
  display: grid;
  grid-template-columns: 29% 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: gray;
}
@media (max-width: 600px) {
  body {margin: 0; padding: 0;}
  main {display: flex;
  flex-direction: column;
  }
  .one {display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 10vh;
}
  .one * {width: 20px;}
  #search-box {
    display: none;
  }
  .chat-box {
    max-height: 1vh !important;
    padding: 12px !important;
    border: 2px solid grey;
  }
}
/*SCROLLBAR*/
 ::-webkit-scrollbar {
   width: 8px;
 }
::-webkit-scrollbar-track {
 background-color: transparent;
 border-radius: 6px;
 cursor: context-menu;
}
::-webkit-scrollbar-thumb {
 background-color: #9f9f9f;
 border-radius: 6px;
 cursor: context-menu;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 3rem;
  display: flex;
  justify-content: left;
  padding-left: 5vw;
  align-items: center;
  z-index: 5;
  background-color: #202020;
}
#expanded {
  position: fixed;
  top: 0;
  right: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: .75rem;
  cursor: pointer;
  transition: all .15s;
  }
#expanded button {
  padding-block: 6px;
  padding-inline: 14px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.75);
  margin-bottom: 12px;
  background-color: transparent;
}

#logo-big {
  max-height: 2rem;
}
.headline {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}

.unfocus {
  filter: brightness(.9) blur(1px) saturate(.75);
}

#addMenu {
  position: fixed;
  bottom: 16vh;
  top: 16vh;
  left: 16vw;
  right: 16vw;
  background-color: #202020;
  box-shadow: 0 0 16vh black;
  padding: 2rem;
  display: none;
  animation: addMenu .33s ease both;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1 {
  font-size: 1.66rem;
  font-weight: normal;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: .5px;
  color: lightgray;
}

#groupNameSection, #userListSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#cancelCreate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
}
#cancelBtn, #createBtn {
  padding-inline: 18px;
  padding-block: 8px;
  font-size: 1.2rem;
  color: white;
}
#createBtn {
  border-radius: .75rem;
  background-color: #005c4b;
  color: black;
  border: solid 1px ;
}
#cancelBtn {
  background-color: #3a3a3a;
  border: none;
  border-radius: 1rem;
}
#addGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
}
#addGroup label {
  margin-bottom: .5rem;
  font-size: 1rem;
}
#addGroup input {
  border-radius: .5rem;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 16px;
  border: 2px solid #005c4b;
  background-color: transparent;
  color: white;
  font-size: 1.1rem;
  width: 72%;
}
#addGroup input::placeholder {
  font-size: .9rem;
}
#addGroup input:focus {
  outline: none;
}
#tooltipUserList {
  font-size: .8rem;
  margin-top: 4px;
  font-style: italic;
  line-height: 1.5rem;
}

/*main*/
.one {
  overflow-y: scroll;
  overflow-x: hidden;
}
.three {
  overflow-y: scroll;
  overflow-x: hidden;
}
/*ONE*/
/*ONE*/

.search-con {
  display: flex;
  justify-content: center;
}

#search-box {
  background-color: #202020;
}

/*CHAT BOX*/
.chat-box {
  padding: 1rem;
  border: 2px solid #353535;
  border-radius: 8px;
  border-top-left-radius: 4px;
  transition: all 0.15s;
  transition: transform .15s ease-in-out;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-right: 12px;
  cursor: pointer;
}
.chat-box:hover {
  transform: scale(0.975);
}
.chat-box.hidden {
  display: none;
}

/*CHAT-con CLASS*/
.msg_rx,
.msg_tx {
  display: block;
  min-width: 240px;
}
.msg-rx:last-of-type .msg-content-rx,
.msg-tx:last-of-type .msg-content-tx {
  animation: msg .25s  forwards;
  margin-bottom: 2rem;
}

.msg-tx {
   display: flex;
   justify-content: right;
}
.space {
  height: 3rem;
}

.msg-content-rx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-color: #353535;
  color: white;
  display: inline-block;
  border-radius: 4px;
  border-top-left-radius: 0;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  margin-left: 12px;
}

.msg-content-tx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-color: #005c4b;
  color: white;
  display: inline-block;
  border-radius: 4px;
  border-top-right-radius: 0;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
  margin-right: 12px;
}

/*TEXT INPUT FIELD*/
.text-input-con {
  position: fixed;
  bottom: 44px;
  left: 29%;
  right: 0;
  display: flex;
  justify-content: center;
  padding-top: 18px;
  z-index: 10;
  margin-inline: 5%;
}
/*DO NOT EDIT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*DO NOT EDIT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.text-input {
  margin-left: 12px;
  margin-right: 12px;
  width: 66%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 16px;
  margin-bottom: 12px;
  border: 1px solid transparent;
  background-color: #202020;
  color: white;
  font-size: 1.1rem;
}
.text-input::placeholder {
  color: rgb(172, 172, 172);
}
.send-msg {
  padding-block: 8px;
  padding-inline: 18px;
  border-radius: 12px;
  margin-bottom: 12px;
  border: none;
  font-weight: bold;
  background-color: #3a3a3a;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.75);
  transition: all 0.15s;
}
/*TEXT INPUT FIELD EFFECTS*/
.text-input:focus-visible {
  outline: none;
}
.send-msg:hover {
  box-shadow: 0 0 24px black;
}

@keyframes msg {
  0% {transform: scale(.9); opacity: .5; translate: 24px 44px; rotate: 2deg;}
  50% {transform: scale(1.05); opacity: 1; rotate: -2deg;}
  100% {transform: scale(1);}
 }
 @keyframes addMenu {
  0% {opacity: 0; transform: scale(.75);}
}
