
/*GENEREAL STYLES*/
/*GENEREAL STYLES*/
/*GENEREAL STYLES*/

::selection {
  background-color: white;
  color: black;
  color: #141c23;
}

body {
  background-image: linear-gradient(20deg, rgb(0, 10, 20), rgb(14, 15, 20), rgb(0, 61, 85));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}
main {
  width: 80vw;
  height: 80vh;
  border-radius: 18px;
  /*BG COLOR NORMAL*/
  background-color: #181818;
  box-shadow: black 0 0 44px;
  cursor: pointer;
  transform: scale(0.995);
  transition: transform 0.33s cubic-bezier(.2,1.07,.78,.76);
  transition: background-color 0.4s;
}

/*SCROLLBAR*/
 ::-webkit-scrollbar {
   width: 12px;
 }
::-webkit-scrollbar-track {
 background-color: #2c2c2c;
 border-radius: 6px;
 cursor: context-menu;
}
::-webkit-scrollbar-thumb {
 background-color: #9f9f9f;
 border-radius: 6px;
 cursor: context-menu;
}

/*BG COLOR HOVERED*/
main:hover {
  transform: scale(1);
  /*background-color: #191d20;*/
  background-color: #162029bd;
}
nav {
  position: fixed;
  top: 2vh;
  left: 0;
  right: 0;
  max-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 18px;
  display: flex;
  justify-content: center;
  background-color: #181818;
}
#footer div {
  margin-left: 24px;
  margin-right: 24px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#logo-big {
  max-height: 5vh;
}
#headline {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

/*MAIN CONTENT*/
/*MAIN CONTENT*/
/*MAIN CONTENT*/

/*MAIN CONTENT GENERAL*/

main {
  display: grid;
  grid-template-columns: 29% 3px 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: gray;
}
.one {
  overflow-y: scroll;
  overflow-x: hidden;
}
.two {
  background-color: grey;
}
.three {
  overflow-y: scroll;
}

/*ONE*/
/*ONE*/

/*CHAT BOX*/
.chat-box {
  padding: 36px;
  height: 44px;
  border-bottom: solid gray 1px;
  border-radius: 12px;
  transition: all 0.15s;
  transition: translate 1s 1s cubic-bezier(.24,.7,.59,1.36);
}
.chat-box:hover {
  transform: scale(0.95);
  animation: chat-box-hover 2s .5s infinite ease-in-out;
  translate: 2.5% 0;
}
.open-chat {
  opacity: 0;
  margin-top: 8px;
  transition: opacity 0.25s;
  font-size: 1rem;
}
.chat-box:hover .open-chat {
  opacity: 1;
}
.chat-name {
  font-weight: bold;
}

/*TWO*/
/*TWO*/

/*CHAT HEADER CLASS*/
.chat-header {
  position: fixed;
  top: 2px;
  left: 30%;
  right: 0;
  text-align: center;
}

/*CHAT-con CLASS*/
.msg-con {
  display: block;
  position: relative;
}
.chat-con {
  padding-left: 24px;
  padding-right: 24px;
}
.space {
  height: 3rem;
}
.name-time {
  position: absolute;
  translate: .5rem -1rem;
  font-size: .9rem;
}
.message {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-image: linear-gradient(45deg, rgb(13, 61, 124), rgba(212, 0, 255, 0.418));
  color: white;
  display: inline-block;
  border-radius: 16px;
  margin-bottom: 2.25rem;
}

/*TEXT INPUT FIELD*/
.text-input-con {
  position: fixed;
  bottom: 0;
  left: 29%;
  right: 0;
  display: flex;
  justify-content: center;
}
.text-input {
  margin-left: 12px;
  margin-right: 12px;
  width: 66%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 12px;
  margin-bottom: 12px;
  border: none;
}
.send-msg {
  padding-block: 8px;
  border-radius: 12px;
  margin-bottom: 12px;
  border: none;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgb(16, 41, 182), rgb(212, 0, 255));
  color: white;
  cursor: pointer;
}

/*TEXT INPUT FIELD EFFECTS*/
.text-input:focus {
  outline: none;
  animation: text-input-focus 5s ease-in-out infinite;
}




















/*container has block to prevent -m -m 
msg has inline*/










/*@ MEDIA QUERY: GREY LINE IN MAIN*/
/*@ANIMATION KEYFRAMES IN INTRO*/





@keyframes chat-box-hover {
  0% {transform: scale(0.95);}
  50% {transform: scale(0.925);}
  100% {transform: scale(0.95);}
}


@keyframes text-input-focus {
  0% {transform: scale(1);}
  50% {transform: scale(0.975);}
  100% {transform: scale(1);}
}