
/*GENEREAL STYLES*/
/*GENEREAL STYLES*/
/*GENEREAL STYLES*/

::selection {
  background-color: white;
  color: black;
  color: #141c23;
}

body {
  background-image: linear-gradient(45deg, #62107e, #251e3e);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}
main {
  width: 80vw;
  height: 80vh;
  border-radius: 18px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.726), rgba(108, 0, 129, 0.5));
  background-color: #00000067;
  box-shadow: rgba(0, 0, 0, 0.5) 24px 24px 44px;
  transform: scale(1);
  transition: transform 0.33s cubic-bezier(.2,1.07,.78,.76);
  transition: background-color 0.4s;
  animation: start-main 1s both ease-in-out;
  display: grid;
  grid-template-columns: 29% 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: gray;
}

/*SCROLLBAR*/
 ::-webkit-scrollbar {
   width: 12px;
 }
::-webkit-scrollbar-track {
 background-color: #2c2c2c;
 border-radius: 6px;
 cursor: context-menu;
}
::-webkit-scrollbar-thumb {
 background-color: #9f9f9f;
 border-radius: 6px;
 cursor: context-menu;
}

/*BG COLOR HOVERED*/
main:hover {
  transform: scale(1);
}
nav {
  position: fixed;
  top: 2vh;
  left: 0;
  right: 0;
  max-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 18px;
  display: flex;
  justify-content: center;
  background-color: #181818;
}
#footer div {
  margin-left: 24px;
  margin-right: 24px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#logo-big {
  max-height: 5vh;
}
#headline {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

/*MAIN CONTENT*/
/*MAIN CONTENT*/
/*MAIN CONTENT*/

/*MAIN CONTENT GENERAL*/

.one {
  overflow-y: scroll;
  overflow-x: hidden;
}
.three {
  overflow-y: scroll;
}

/*ONE*/
/*ONE*/

/*CHAT BOX*/
.chat-box {
  padding: 36px;
  height: 44px;
  border-bottom: solid gray 1px;
  border-radius: 12px;
  transition: all 0.15s;
  transition: translate .5s cubic-bezier(.24,.7,.59,1.36);
  display: flex;
  align-items: center;
}
.chat-box:hover {
  transform: scale(0.95);
  animation: chat-box-hover 2s .5s infinite ease-in-out;
  translate: 2.5% 0;
}

/*CHAT HEADER CLASS*/
.chat-header {
  position: fixed;
  top: 0;
  left: 30%;
  right: 0;
  margin-right: 16px;
  padding-block: 12px;
  text-align: center;
  z-index: 5;
}

/*CHAT-con CLASS*/
.msg_rx,
.msg_tx {
  display: block;
}
.msg-tx {
   display: flex;
   justify-content: right;
}
.chat-con {
  padding-left: 24px;
  padding-right: 24px;
}
.space {
  height: 3rem;
}

.msg-content-rx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-image: linear-gradient(315deg, rgba(111, 0, 255, 0.5), rgba(212, 0, 255, 0.2));
  color: white;
  display: inline-block;
  border-radius: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.msg-content-tx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-image: linear-gradient(45deg, rgba(111, 0, 255, 0.5), rgba(212, 0, 255, 0.2));
  color: white;
  display: inline-block;
  border-radius: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.msg-content-rx:hover,
.msg-content-tx:hover {
  transform: scale(1.025);
  box-shadow: 0 0 24px black;
}

/*TEXT INPUT FIELD*/
.text-input-con {
  position: fixed;
  bottom: 0;
  left: 29%;
  right: 0;
  display: flex;
  justify-content: center;
}
.text-input {
  margin-left: 12px;
  margin-right: 12px;
  width: 66%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 16px;
  margin-bottom: 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0.459);
  color: white;
  font-size: 1.1rem;
}
.text-input::placeholder {
  color: rgb(172, 172, 172);
}
.send-msg {
  padding-block: 8px;
  padding-inline: 18px;
  border-radius: 12px;
  margin-bottom: 12px;
  border: none;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgb(111, 0, 255), rgb(212, 0, 255));
  color: white;
  cursor: pointer;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

/*TEXT INPUT FIELD EFFECTS*/
.text-input:focus {
  outline: none;
  animation: text-input-focus 5s ease-in-out infinite;
}
.send-msg:focus {
  animation: send-msg-focus .5s ease-in-out;
}
.send-msg:hover {
  box-shadow: 0 0 24px black;
}









/*container has block to prevent -m -m 
msg has inline*/








/*@ MEDIA QUERY: GREY LINE IN MAIN*/
/*@ANIMATION KEYFRAMES IN INTRO*/


@keyframes chat-box-hover {
  0% {transform: scale(0.95);}
  50% {transform: scale(0.925);}
  100% {transform: scale(0.95);}
}


@keyframes text-input-focus {
  0% {transform: scale(1);}
  50% {transform: scale(0.975);}
  100% {transform: scale(1);}
}


@keyframes start-main {
  0% {box-shadow: none; translate: 48px 48px; width: 888px; height: 555px; max-height: 80vh; max-width: 80vw;}
}

