html {
  scroll-behavior: smooth;
}

/*GENEREAL STYLES*/
/*GENEREAL STYLES*/
/*GENEREAL STYLES*/

::selection {
  background-color: white;
  color: black;
}
body {
  background-color: #1b1c20;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: rgb(226, 226, 226);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  width: 100vw;
  height: 90vh;
  border-radius: 18px;
  display: grid;
  grid-template-rows: 96px 1fr;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: grey;
  position: fixed;
  left: 0;
  bottom: calc(100% - 90vh - 3rem);
}
/*SCROLLBAR*/
 ::-webkit-scrollbar {
   width: 8px;
   height: 8px;
 }
::-webkit-scrollbar-track {
 background-color: transparent;
 border-radius: 6px;
 cursor: context-menu;
}
::-webkit-scrollbar-thumb {
 background-color: #9f9f9f;
 border-radius: 6px;
 cursor: context-menu;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-inline: 12px;
  right: 0;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272a31;
  max-height: 3rem;
}
#headlineLogo * {
  display: inline-block;
}
#logo-big {
  max-height: 2rem;
}
.headline {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  user-select: none;
}
#logout, #changeTheme, #addNewBtn {
  padding-inline: 16px;
  padding-block: 10px;
  border: none;
  background-color: #1b1c20;
  border-radius: 8px;
  margin-left: 6px;
  color: lightgrey;
  box-shadow: #505564 0 0 12px;
}
#addNewBtn {
  box-shadow: #6a7591 0 0 12px;
}
.unfocus {
  filter: brightness(.9) blur(1px) saturate(.75);
}

#addMenu {
  position: fixed;
  bottom: 0;
  top: 33vh;
  left: 0;
  right: 0;
  background-color: #272a31;
  box-shadow: 0 0 16vh black;
  padding: 2rem;
  display: none;
  animation: addMenu .5s ease both;
  overflow-y: scroll;
}
h1 {
  font-size: 1.66rem;
  font-weight: normal;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: .5px;
}
#groupNameSection, #userListSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#cancelCreate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
}
#cancelBtn, #createBtn {
  padding-inline: 18px;
  padding-block: 8px;
  font-size: 1.2rem;
  color: #121a20;
}
#cancelBtn {
  border-radius: .75rem;
  background-color: #6c7b86cb;
  color: black;
  border: solid 1px ;
}
#createBtn {
  background-color: #3363ff;
  border: none;
  border-radius: 1rem;
}
#addGroup label {
  margin-bottom: .5rem;
  font-size: 1rem;
}
#addGroup input {
  border-radius: .5rem;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 16px;
  border: none;
  background-color: #3d3d3d;
  color: white;
  font-size: 1.1rem;
  width: 60vw;
}
#addGroup input:focus {
  outline: none;
}
#tooltipUserList {
  font-size: .8rem;
  margin-top: 4px;
  font-style: italic;
  line-height: 1.5rem;
}



/*MAIN CONTENT*/

.one {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  background-color: #1b1c20;
  max-height: 4rem;
}
.three {
  overflow-y: scroll;
  padding-bottom: 2rem;
  background-color: #1b1c20;
}
/**/
#searchIconCon, #closeIconCon {
  background-color: #3d3d3d;
  border-radius: 8px;
  padding: .5rem;
  margin-right: 4px;
  min-width: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchIcon, #closeIcon {
  height: 1rem;
  width: 1rem;
}
#sendIcon, #microphoneIcon {
  height: 1.25rem;
  width: 1.25rem;
}
img {
  animation: fadeIn .25s ease both;
}
#closeIconCon {
  display: none;
}
#search-box {
  font-size: 1rem;
  background-color: #3d3d3d;
  width: 0;
  transition: all .25s ease;
  font-size: 1rem;
  padding: 0;
}
/**/

/*CHAT BOX*/
.chat-box {
  background-color: #272a31;
  text-align: center;
  height: 44px;
  padding-inline: 6px;
  margin-inline: 2px;
  border-radius: 12px;
  display: inline-block;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  animation: loading 2s ease both;
}
.chat-box:hover {
  transform: scale(0.95);
  translate: 2.5% 0;
}

/*CHAT-con CLASS*/
.msg_rx,
.msg_tx {
  display: block;
}
.msg-tx {
   display: flex;
   justify-content: right;
}
.chat-con {
  padding-left: 8px;
  padding-right: 8px;
}
.space {
  height: 3rem;
}

.msg-content-rx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-color: #303133;
  color: white;
  display: inline-block;
  border-radius: 16px;
  border-top-left-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 6px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

.msg-content-tx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-color: #315ff3;
  color: white;
  display: inline-block;
  border-radius: 16px;
  border-top-right-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-right: 6px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
}
.voice-content-rx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 66vw;
  height: 3rem;
  background-color: #303133;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 6fr;
  border-radius: 16px;
  border-top-left-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 6px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
.voice-content-tx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 66vw;
  height: 3rem;
  background-color: #315ff3;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 4fr;
  border-radius: 16px;
  border-top-right-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-right: 6px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
}
.media-content-rx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 66vw;
  height: 66vw;
  background-color: #303133;
  color: white;
  display: inline-block;
  border-radius: 16px;
  border-top-left-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 6px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
.media-content-tx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-color: #315ff3;
  color: white;
  display: inline-block;
  border-radius: 16px;
  border-top-right-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-right: 6px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
}
/*voice msg elements display*/

.voice-content-name {
  margin-top: 1rem;
}
#playVoiceMsg, #pauseVoiceMsg {
  height: 2rem;
  width: 2rem;
  margin-top: .5rem;
}
#pauseVoiceMsg {
  display: none;
}

#voice-content-waves {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  opacity: 0;
}
.voiceBars {
  background-color: blue;
  background-image: radial-gradient(#1b1c20, #315ff3);
  filter: brightness(1.5);
  height: 2rem;
  width: 5px;
  border-radius: 2px;
  animation: voiceBarAnimationOne 1.25s linear both infinite;
}

#vB6 { animation: voiceBarAnimationTwo .5s linear both infinite; animation-delay: 0.025s; }
#vB11 { animation-delay: 0.050s; }
#vB14 { animation-delay: 0.075s; }
#vB3 { animation-delay: 0.100s; }
#vB1 { animation: voiceBarAnimationTwo 1s linear both infinite; animation-delay: 0.125s; }
#vB8 { animation-delay: 0.150s; }
#vB7 { animation: voiceBarAnimationTwo .3s linear both infinite; animation-delay: 0.575s; }
#vB10 { animation-duration: 5s; animation-delay: 0.200s; }
#vB5 { animation-delay: 0.225s; }
#vB9 { animation: voiceBarAnimationTwo .5s linear both infinite; animation-delay: 0.250s; }
#vB12 { animation-delay: 0.275s; }
#vB2 { animation: voiceBarAnimationTwo 5s linear both infinite; animation-delay: 1s; }
#vB13 { animation: voiceBarAnimationTwo 3s linear both infinite; animation-delay: 0.325s; }
#vB15 { animation: voiceBarAnimationTwo .5s linear both infinite; animation-delay: 1s; }
#vB16 { animation-delay: 0.375s; }
#vB4 { animation-delay: 0.400s; }

@keyframes voiceBarAnimationOne {
  0% {transform: scaleY(1);}
  33% {transform: scaleY(1.5);}
  66% {transform: scaleY(.5);}
  100% {transform: scaleY(1);}
}
@keyframes voiceBarAnimationTwo {
  0% {transform: scaleY(1);}
  33% {transform: scaleY(.25);}
  66% {transform: scaleY(1.25);}
  100% {transform: scaleY(1);}
}

/* media elements display */

.media-content-rx img, .media-content-tx img,
.media-content-rx video, .media-content-tx video {
  height: 56vw;
  width: 56vw;
  object-fit: cover;
  border-radius: 4px;
}


#media-img,
#media-video {
  height: 56vw;
  width: 56vw;
  object-fit: cover;
  border-radius: 4px;
}

#media-img-focus,
#media-video-focus {
  height: 56vw;
  width: 56vw;
  object-fit: scale-down;
  border-radius: 4px;
}
#closeGallery {
  position: fixed;
  top: 2rem;
  right: 1rem;
  height: 2rem !important;
  width: 44px !important;
  background-color: rgb(41, 41, 41);
  color: white;
  border: none;
  padding: 4px;
  border-radius: 1rem;
  z-index: 9;
}

#mediaAreaFocus {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  display: none;
}
#mediaAreaFocus img,
#mediaAreaFocus video {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  display: none;
}

#media-img-focus-bg,
#media-video-focus-bg {
  object-fit: fill;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  filter: blur(24px) brightness(.33);
  z-index: -1;
}

/*TEXT INPUT FIELD*/
.text-input-con {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.text-input {
  margin-inline: 6px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 16px;
  border: none;
  background-color: #3d3d3d;
  color: white;
  font-size: 1.1rem;
  width: 72vw;
}
.text-input::placeholder {
  color: rgb(172, 172, 172);
}
.text-input:focus {
  outline: none;
}
#send-msg {
  padding: 0;
  margin-right: 6px;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: none;
  font-weight: bold;
  background-color: #295bff;
  color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: none;
}
#startVoiceMsg {
  padding: 0;
  margin-right: 6px;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: none;
  font-weight: bold;
  background-color: #295bff;
  color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#startVoiceMsg.recording {
  animation: recording 1.5s .1s both infinite;
}
@keyframes msg {
  0% {transform: scale(.9); opacity: 0; filter: saturate(0);}
  50% {transform: scale(1.05); opacity: 1;}
  100% {transform: scale(1);}
 }
 @keyframes loading {
  0% {opacity: 1;}
  25% {opacity: .66;}
  50% {opacity: 1;}
  75% {opacity: .66;}
  100% {opacity: 1;}
 }
 @keyframes addMenu {
  0% {translate: 0 96vh;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes recording {
  0% {transform: scale(1);}
  50% {transform: scale(1.25);}
}