html {
  scroll-behavior: smooth;
}

/*GENEREAL STYLES*/
/*GENEREAL STYLES*/
/*GENEREAL STYLES*/

::selection {
  background-color: white;
  color: black;
}

body {
  background-color: #0b1014;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: rgb(226, 226, 226);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  width: 100vw;
  height: 90vh;
  border-radius: 18px;
  display: grid;
  grid-template-rows: 96px 1fr;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: grey;
  position: fixed;
  left: 0;
  bottom: calc(100% - 90vh - 3rem);
}
/*SCROLLBAR*/
 ::-webkit-scrollbar {
   width: 8px;
   height: 8px;
 }
::-webkit-scrollbar-track {
 background-color: transparent;
 border-radius: 6px;
 cursor: context-menu;
}
::-webkit-scrollbar-thumb {
 background-color: #9f9f9f;
 border-radius: 6px;
 cursor: context-menu;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 12px;
  right: 0;
  max-height: 5vh;
  display: flex;
  align-items: center;
  background-color: #202020;
  max-height: 3rem;
}
#logo-big {
  max-height: 2rem;
}
.headline {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
#logout, #changeTheme {
  padding-inline: 12px;
  padding-block: 2px;
  border: none;
  box-shadow: #134d37 0 0 12px;
  background-color: #134d37;
  border-radius: 8px;
  margin-left: 12px;
  color: lightgrey;
}

/*MAIN CONTENT*/
/*MAIN CONTENT*/
/*MAIN CONTENT*/

/*MAIN CONTENT GENERAL*/

.one {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  max-height: 4rem;
}
.three {
  overflow-y: scroll;
  padding-bottom: 2rem;
}


/*CHAT BOX*/
.chat-box {
  padding: 6px;
  height: 44px;
  border-radius: 12px;
  display: inline-block;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}
.chat-box:hover {
  transform: scale(0.95);
  translate: 2.5% 0;
}

/*CHAT HEADER CLASS*/
.chat-header {
  position: fixed;
  top: 0;
  left: 30%;
  right: 0;
  margin-right: 16px;
  padding-block: 12px;
  text-align: center;
  z-index: 5;
}

/*CHAT-con CLASS*/
.msg_rx,
.msg_tx {
  display: block;
}
.msg-tx {
   display: flex;
   justify-content: right;
}
.chat-con {
  padding-left: 8px;
  padding-right: 8px;
}
.space {
  height: 3rem;
}

.msg-content-rx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-color: #1f272a;
  color: white;
  display: inline-block;
  border-radius: 4px;
  border-top-left-radius: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 6px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

.msg-content-tx {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 66%;
  background-color: #134d37;
  color: white;
  display: inline-block;
  border-radius: 4px;
  border-top-right-radius: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-right: 6px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
}

/*TEXT INPUT FIELD*/
.text-input-con {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.text-input {
  margin-inline: 6px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 16px;
  border: none;
  background-color: #1f272a;
  color: white;
  font-size: 1.1rem;
  width: 60vw;
}
.text-input::placeholder {
  color: rgb(172, 172, 172);
}
.text-input:focus {
  outline: none;
}
.send-msg {
  padding: 0;
  margin-right: 6px;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: none;
  font-weight: bold;
  background-color: #21c063;
  color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
@keyframes start-mobile {
  0% {display: normal;}
  100% {display: none;}
}
@keyframes expand {
  0% {opacity: .25; translate: 0 15vh; transform: scale(.95);}
}

#expanded {
  background-color: rgb(10, 10, 10);
  position: fixed;
  top: 60vh;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 4rem;
  animation: expand .25s ease-in-out;

}
#expanded button {
  background-color: #3d3d3d;
  border: none;
  height: 44px;
  width: 60vw;
  font-size: 1.1rem;
  border-radius: 44px;
}
